@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(45, 45, 45);

    --card: rgb(255, 255, 255);
    --card-foreground: rgb(45, 45, 45);

    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(45, 45, 45);

    --primary: rgb(100, 135, 251);
    --primary-foreground: rgb(62, 107, 255);

    --secondary: rgb(240, 240, 240);
    --secondary-foreground: rgb(60, 60, 60);

    --muted: rgb(240, 240, 240);
    --muted-foreground: rgb(120, 120, 120);

    --accent: rgb(240, 240, 240);
    --accent-foreground: rgb(60, 60, 60);

    --destructive: rgb(255, 0, 0);
    --destructive-foreground: rgb(240, 240, 240);

    --border: rgb(200, 200, 200);
    --input: rgb(200, 200, 200);
    --ring: rgb(45, 45, 45);

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
